    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    body {
        background-color: rgb(235, 235, 235);
    }
    
    h6 {
        font-size: 10px
    }
    
    nav {
        position: fixed;
    }
    
    nav .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 5px 64px;
        background-color: #fff;
    }
    
    nav .barra .parteIzq,
    nav .barra .centro,
    nav .barra .parteDer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }
    
    nav .barra .parteIzq,
    nav .barra .centro {
        padding-right: 48px;
        display: flex;
        gap: 50px;
    }
    
    nav .barra .Linkedin i {
        font-size: 35px;
        color: blue;
        cursor: pointer;
    }
    
    nav .barra .parteIzq .buscador {
        background: #eDF3F8;
        width: 100%;
        padding: 8px 32px;
        display: flex;
        gap: 8px;
        border-radius: 3px;
    }
    
    nav .barra .parteIzq .buscador input[type='search'] {
        width: 224px;
        border: none;
        background: transparent;
    }
    
    nav .barra .parteIzq .buscador input[type='search']::placeholder {
        font-size: 13px;
        color: rgb(49, 49, 49);
        font-weight: 100;
    }
    
    nav .barra .parteIzq .buscador i {
        color: gray;
    }
    
    .casa,
    .usuario,
    .trabajo,
    .Chat,
    .campana,
    .user,
    .extras {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
        color: gray;
    }
    
    .casa:hover,
    .usuario:hover,
    .trabajo:hover,
    .Chat:hover,
    .campana:hover,
    .user .flecha:hover,
    .extras .flecha:hover {
        color: black;
    }
    
    .casa i,
    .usuario i,
    .trabajo i,
    .Chat i,
    .campana i {
        font-size: 24px;
    }
    
    .user .flecha,
    .extras .flecha {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    
    nav .barra .parteDer .user i:first-child {
        background-color: gray;
        color: #fff;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .barra a {
        font-size: 13px;
        width: 112px;
        text-align: center;
        cursor: pointer;
        color: goldenrod;
    }
    
    nav .barra .centro {
        margin-right: 20px;
        gap: 40px;
    }
    
    nav .barra .parteIzq {
        margin-left: 160px;
        gap: 5px;
    }
    
    nav .barra .parteDer {
        margin-right: 150px;
    }
    
    nav .barra .centro::after {
        content: '';
        width: 1px;
        height: 50px;
        background-color: gray;
        margin-left: 20px;
    }
    
    nav .barra .centro img {
        width: 30%;
        border-radius: 50%;
    }
    /* Barra de navegación*/
    
    .contenedor {
        padding: 20px 6%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        top: 80px;
    }
    /* Barra izquierda*/
    
    .barra-izquierda {
        flex-basis: 15%;
        align-items: flex-start;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 25px;
        margin-top: 65px;
    }
    
    .sidebar-profile-box {
        background: white;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .sidebar-profile-info {
        padding: 0 25px;
    }
    
    .sidebar-profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .sidebar-profile-info img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: white;
        padding: 4px;
        margin-top: -45px
    }
    
    .sidebar-profile-info h1 {
        font-size: 20px;
        font-weight: 600;
        color: #222;
        margin-top: 10px;
    }
    
    .sidebar-profile-info h3 {
        font-size: 14px;
        font-weight: 500;
        color: #777;
        margin-top: 5px;
    }
    
    .sidebar-profile-vista {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #ccc;
        text-align: center;
    }
    
    .sidebar-profile-vista ul {
        list-style: none;
        margin: 20px 0;
    }
    
    .sidebar-profile-vista ul li {
        width: 90%;
        margin: 5px 0;
        font-size: 13px;
    }
    
    .sidebar-profile-vista ul li span {
        float: right;
        color: #045be6;
    }
    
    .sidebar-profile-link {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #ccc;
    }
    
    .sidebar-profile-link a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        font-size: 13px;
        text-align: center;
        text-decoration: none;
        color: gray;
    }
    
    .sidebar-profile-link img {
        width: 15px;
    }
    
    .sidebar-profile-link a:first-child {
        border-left: 0;
    }
    
    .sidebar-profile-marca {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #ccc;
        padding: 8px;
    }
    
    .sidebar-profile-marca a {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        font-size: 13px;
        text-align: center;
        text-decoration: none;
        color: gray;
        gap: 2px;
    }
    
    .sidebar-profile-marca img {
        width: 15px;
    }
    
    .siderbar-activity {
        background: #fff;
        padding: 5px 25px;
        margin: 12px 0;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .siderbar-activity a {
        display: flex;
        align-items: center;
        font-weight: 700;
        color: #888;
        margin: 3px 0 15px;
        text-decoration: none;
        color: #045be6;
        font-size: 14px;
    }
    
    .siderbar-activity2 {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #ccc;
        display: flex;
        text-align: center;
        align-items: center;
        padding: 12px;
        font-size: 14px;
    }
    /*barra-derecha*/
    
    .barra-derecha {
        flex-basis: 23%;
        width: 290px;
        margin-left: 0;
        /* Eliminar margen izquierdo */
        display: flex;
        flex-direction: column;
        margin-top: 65px;
    }
    
    .siderbar-feed {
        height: 425px;
        background-color: #f2f2f2;
        border: 1px solid #d9d9d9;
        border-radius: 18px;
        margin-bottom: 18px;
        padding: 20px 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: normal;
        padding: 6px;
    }
    
    hr {
        border: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .imagen {
        width: 60px;
        border-radius: 50%;
        margin-top: 2px;
        margin-left: 10px;
        margin-right: 10px;
        border: 2px solid #d9d9d9;
    }
    
    .info {
        width: 220px;
        margin-left: 15px;
    }
    
    .contenido {
        display: flex;
        margin-bottom: 5px;
    }
    
    .info h5 {
        margin-bottom: 5px;
        font-size: 16px;
    }
    
    .info p {
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .follow {
        padding: 8px 16px;
        border-radius: 16px;
        font-size: 15px;
        margin-left: 10px;
        margin-top: 5px;
        color: #000;
        background-color: #f5f5f5;
        width: 100px;
    }
    
    .follow:hover {
        background-color: #d9d9d9;
    }
    
    .siderbar-feed .recomend {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }
    
    .mantener-posicion {
        position: sticky;
        top: 80px;
    }
    
    .sidebar-opcion img {
        height: 290px;
        width: 350px;
        margin-top: 0;
        border-radius: 10px;
    }
    
    .right-main-3 {
        height: 290px;
    }
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 12px;
        padding: 5px 25px;
    }
    
    .footer p {
        font-size: 12px;
    }
    
    .icon {
        height: 15px;
        margin-right: 10px;
    }
    
    .icon-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .dm-me {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .position {
        position: sticky;
        top: 80px;
    }
    
    .contenedor-centro {
        flex-basis: 47%;
        border-radius: 45px;
        margin-top: 65px;
    }
    
    .create-post {
        background: #fff;
        border-radius: 20px;
    }
    
    .create-post-input {
        padding: 20px 25px 10px;
        display: flex;
        align-items: flex-start;
    }
    
    .create-post-input img {
        width: 35px;
        border-radius: 50px;
        margin-right: 10px;
    }
    
    .create-post-input textarea {
        width: 100%;
        border: 0;
        outline: 0;
        resize: none;
        background: transparent;
        margin-top: 8px;
        border-radius: 1px solid #ccc;
    }
    
     ::placeholder {
        font-weight: 500;
    }
    
    .create-post-links {
        display: flex;
        align-items: flex-start;
    }
    
    .create-post-links li {
        list-style: none;
        border-radius: 1px solid #ccc;
        flex-basis: 25%;
        height: 45px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .create-post-links li img {
        margin: 15px;
        justify-content: space-between;
        align-items: center;
    }
    
    .sort-by {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    
    .sort-by hr {
        flex: 1;
        border: 0;
        height: 1px;
        background: #ccc;
    }
    
    .sort-by p {
        font-size: 13px;
        padding-left: 5px;
    }
    
    .sort-by p span {
        font-weight: 600;
        cursor: pointer;
    }
    
    .sort-by p span img {
        width: 12px;
        margin-left: 3px;
    }
    
    .post {
        background: #fff;
        padding: 20px 25px 5px;
        margin: 5px 0 15px;
    }
    
    .post-author {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    .post-author img {
        width: 40px;
        margin-right: 10px;
        margin-top: -7px;
    }
    
    .post-author h1 {
        font-size: 15px;
        font-weight: 600;
        color: #333;
    }
    
    .post-author small {
        display: block;
        margin-bottom: -2px;
    }
    
    .post p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    
    .post-stats {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px;
    }
    
    .post-stats div {
        display: flex;
        align-items: center;
    }
    
    .post-stats img {
        width: 15px;
        margin-right: -5px;
    }
    
    .liked-users {
        margin-left: 10px;
    }
    
    .post-activity {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 14px;
        font-weight: 500;
    }
    
    .post-activity div {
        align-items: center;
    }
    
    .post-activity-user-icon {
        width: 22px;
        border-radius: 50%;
    }
    
    .post-activity-arrow-icon {
        width: 12px;
        margin-left: 5px;
    }
    
    .post-activity-links img {
        width: 18px;
        margin-right: 8px;
    }
    
    .messaging {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border: 1px solid rgba(199, 192, 192, 0.5);
        align-items: center;
        width: 250px;
        justify-content: space-between;
        padding: 10px;
        transition: transform 0.3s ease-in-out;
    }
    
    .messaging img {
        border-radius: 50%;
        width: 25px;
    }
    
    .position {
        position: sticky;
        top: 80px;
    }